html, body{
    width: 100%;
    height: 800px;
}

header{
    width: 100%;
    height: 100px;
    background-color: green;
}

.flex-container {
    display: flex;
}

.menu-button{
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 30px;
    flex: wrap;
}

main{
    width: 100%;
    height: 600px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

#linkerkant{
    width: 45%;
    height: 100px;
    background-color: red;
}

#middenkant{
    width: 10%;
    height: 100px;
    background-color: white;
}

#rechterkant{
    width: 45%;
    height: 100px;
    background-color: blue;
}

