html, body{
    width: 100%;
    height: 800px;
}

header{
    width: 100%;
    height: 100px;
    background-color: green;
}

.flex-container {
    display: flex;
}

.menu-button, #logo{
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 30px;
    flex: wrap;
}

#logo{
    margin-left:900px;
}

main{
    width: 100%;
    height: 600px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer{
    width: 100%;
    height: 100px;
    background-color: blueviolet;
    text-align: right;
}

.logo1{
    width: 200px;
    height: 300px;
    flex-direction: column;
}